.toolbar {
  background-color: #1976d2;
  color: white;
}

.nav {
  a {
    text-decoration-line: none;
  }
  a:active,
  a:visited {
    color: white;
  }
  a:hover {
    color: #dadada;
  }
  a.active {
    text-decoration-line: underline;
  }
}
