.toolbar {
  background-color: #282c34;
  color: #61dafb;
}

.nav {
  a:active,
  a:visited {
    color: #61dafb;
  }
  a:hover {
    color: #40bbdc;
  }
  a.active {
    text-decoration-line: underline;
  }
}

.page {
  font-weight: 900;
}
